replicaCount: 2
ingress:
  enabled: true
  hosts:
    - host: staging.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
istio:
  gateway:
    hosts: ["staging.example.com"]

