server:
  port: 8081

spring:
  application:
    name: system-service
  config:
    import:
      - optional:nacos:${spring.application.name}.yaml?server-addr=${spring.cloud.nacos.server-addr}
      - optional:nacos:common.yaml?server-addr=${spring.cloud.nacos.server-addr}
  cloud:
    nacos:
      server-addr: ${NACOS_SERVER:127.0.0.1:8848}
      config:
        enabled: true
        namespace: ${NACOS_NAMESPACE:public}
        group: ${NACOS_GROUP:DEFAULT_GROUP}
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://192.168.18.134:5432/sys_service_db
    username: admin
    password: 123456


mybatis-plus:
  # Mapper XML 文件位置
  mapper-locations: classpath*:/mapper/**/*.xml
  # 实体类包路径
  type-aliases-package: com.frog.system.entity
  # 全局配置
  global-config:
    db-config:
      # 表名前缀
      table-prefix: tbl_
      # 逻辑删除字段
      logic-delete-field: deleted
      # 逻辑删除值
      logic-delete-value: 1
      # 逻辑未删除值
      logic-not-delete-value: 0
  # MyBatis原生配置
  configuration:
    # 开启驼峰命名转换
    map-underscore-to-camel-case: true
    # SQL日志输出
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 缓存
    cache-enabled: false

dubbo:
  application:
    name: ${spring.application.name}
  protocol:
    name: dubbo
    port: -1
  registry:
    address: nacos://${spring.cloud.nacos.server-addr}
