server:
  port: 8761

spring:
  application:
    name: gateway-service
  profiles:
    active: dev
  config:
    import:
      - optional:nacos:${spring.application.name}.yaml?server-addr=${spring.cloud.nacos.server-addr}
      - optional:nacos:common.yaml?server-addr=${spring.cloud.nacos.server-addr}
  cloud:
    nacos:
      server-addr: ${NACOS_SERVER:127.0.0.1:8848}
      config:
        enabled: true
        namespace: ${NACOS_NAMESPACE:public}
        group: ${NACOS_GROUP:DEFAULT_GROUP}
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
        - id: system-service
          uri: lb://system-service
          predicates:
            - Path=/system/**
          filters:
            - StripPrefix=1
        - id: common-service
          uri: lb://common-service
          predicates:
            - Path=/common/**
          filters:
            - StripPrefix=1
      default-filters:
        - StripPrefix=1

security:
  mtls:
    keystore-path: classpath:certs/gateway-keystore.p12
    keystore-password: changeit
    truststore-path: classpath:certs/truststore.p12
    truststore-password: changeit
