{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "app.serviceAccountName" . }}
  annotations: {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
{{- end }}

